@using CarolinesBank.Webb.ViewModels
@model AccountViewModel
  
@{
    if (ViewBag.Message != null)
    {
        <p class="alert-info"> @ViewBag.Message;</p>
    }
}
<section class=" row container-fluid">

    <form class="col-8" asp-controller="Account" asp-action="Index" method="post">

        <label class="col-5" asp-for="@Model.CurrentAccount.AccountId">
            Accountnumber:
        </label>

        <input class="col-6" asp-for="@Model.CurrentAccount.AccountId" />
        <br />
        <span asp-validation-for="@Model.CurrentAccount.AccountId"></span>
        <br />
        <label class="col-5" asp-for="@Model.Amount">
            Amount:
        </label>
        <input class="col-6" asp-for="@Model.Amount" />
        <br />
        <span asp-validation-for="@Model.Amount"></span>
      <br />

        <input type="submit" value="Deposit" asp-for="@Model.Action" />



        <input type="submit" value="Withdraw" asp-for="@Model.Action" />
        @if (Model.CurrentAccount != null)
        {
            if (Model.CurrentAccount.AccountId != 0)
            {
                <label class="col-12" asp-for="@Model.CurrentAccount.Balance"> @Model.CurrentAccount.Balance</label>
            }
        }

    </form>

</section>