@model CarolinesBank.Webb.ViewModels.TransferViewModel

    <h4>
        Överföring med @Model.Amount SEK lyckades - från kontonr @Model.FromAccountId
        (nytt saldo: @Model.NewBalanceFrom SEK)
        <br />
        till kontonr @Model.ToAccountId
        (nytt saldo: @Model.NewBalanceTo SEK)
    </h4>


